.modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.full-recipe {
  position: fixed;
  max-height: 80%;
  max-width: 50rem;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 2rem;
  overflow: auto;
  &--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &--close-btn {
      position: absolute;
      top: 0;
      right: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    &--img {
      max-width: 100%;
      width: 20rem;
      object-fit: contain;
      border-radius: 10px;
    }
    &--ingredients {
      border: 2px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      text-align: left;
      padding: 1rem;
      align-self: flex-start;
      & ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  &--footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    padding: 2rem;
  }
}
