.navbar {
  &--brand {
    display: block;
    width: 100%;
  }
  &--search--label {
    color: #f04948;

    font-weight: 700;
    font-size: 1.4em;
    margin-right: 0.5rem;
  }
  &--controls {
    color: #00b4ae;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    &--saved {
      color: #00b4ae;
      margin-top: 3px;
      display: flex;
      flex-direction: column;
      &:hover {
        text-decoration: none;
        color: #f04948;
      }
    }
    @media screen and (max-width: 992px) {
      margin-top: 1rem;
    }
  }
}
